---
subcategory: ""
page_title: "Create custom instance"
description: |-
    An example creating an instance with display name and selected base image.
---

# Minimal custom instance example

{{ tffile "examples/custom_instance/custom_instace.tf" }}
