---
subcategory: ""
page_title: "Configure provider with environment variables"
description: |-
    An example configuring the contabo-terraform-provider via environment variables.
---

# Minimal provider configuration example

{{ tffile "examples/use_environment_variables/use_environment_variables.tf" }}
