---
page_title: "contabo-terraform-provider"
subcategory: ""
description: |-
  A terraform provider for managing your products from Contabo like Cloud VPS and VDS.

---

# Contabo Provider

A terraform provider for managing resources offered by [Contabo](https://contabo.com) like Cloud VPS, VDS or S3 compatible Object Storage. For proper usage credentials are required.


## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
